<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}">
    <title>Reset Password</title>
</head>
<body class="d-flex flex-column h-100 login-page">
<div class="container mt-5 py-5 h-100" style="margin-top: 5rem !important;">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-6 col-md-8 col-xl-5">
            <div class="card shadow" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3>Reset Password</h3>
                    <p class="mb-4 text-secondary">Enter your new password below.</p>
                    <form th:action="@{/auth/resetPassword}" method="post">
                        <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
                        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
                        <div class="form-group mb-4">
                            <label for="password"></label>
                            <input type="password" class="form-control" required id="password" name="password" placeholder="New Password">
                        </div>
                        <div class="form-group mb-4">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" required id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                        </div>
                        <input type="hidden" th:name="token" th:value="${token}">
                        <div class="d-grid gap-2 form-action">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
                        </div>
                    </form>
                    <p class="mt-3">
                        <a class="text-info" th:href="@{/auth/login}">Back to Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
