<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{adminLayout :: css}">
    <title>Index</title>
</head>
<body id="page-top">
    <div id="wrapper">
        <ul th:replace="~{adminLayout :: sidebar}"></ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div th:replace="~{adminLayout :: navbar}"></div>
                <div class="container-fluid">
                    <!--Content-->
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-light">
                                <div class="container-fluid">
                                    <h2 class="text-dark">List Vehicles</h2>
                                    <div class="d-flex justify-content-end mb-2">
                                        <a href="/admin/addVehicle">
                                            <button class="btn btn-success"><i class="bi bi-plus-circle"></i> Add</button>
                                        </a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <table class="table table-striped">

                        <thead class="thead-dark">
                        <tr>
                            <th>Chassis Number</th>
                            <th>Image</th>
                            <th>Import Date</th>
                            <th>Name</th>
                            <th>Version</th>
                            <th>Color</th>
                            <th>Segment</th>
                            <th>Type</th>
                            <th>Supplier</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vehicle : ${vehicles}">
                            <td th:text="${vehicle.getChassisNumber()}"></td>
                            <td><img th:src="@{${vehicle.getImages().get(0).imageUrl}}" alt="Vehicle Image" style="max-width: 10vh;"></td>
                            <td th:text="${vehicle.getImportDate()}"></td>
                            <td th:text="${vehicle.getVehicleName()}"></td>
                            <td th:text="${vehicle.getVersion()}"></td>
                            <td th:text="${vehicle.getColor()}"></td>
                            <td th:text="${vehicle.getSegment()}"></td>
                            <td th:text="${vehicle.getVehicleTypeId().vehicleTypeName}"></td>
                            <td th:text="${vehicle.getSupplierId().supplierName}"></td>
                            <td th:text="${vehicle.getCostId().baseCost}"></td>
                            <td colspan="2">
                                <a th:href="@{/admin/editVehicle/{id}(id=${vehicle.chassisNumber})}" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <form th:action="@{/admin/deleteVehicle/{id}(id=${vehicle.chassisNumber})}" method="post" style="display:inline;" onsubmit="return confirmDelete(this);">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--End Content-->
                </div>
            </div>
            <footer th:replace="~{adminLayout :: footer}"></footer>
        </div>
    </div>
    <th:block th:replace="~{adminLayout :: scroll}"></th:block>
    <div th:replace="~{adminLayout :: logout}"></div>
    <th:block th:replace="~{adminLayout :: script}"></th:block>
    <script>
        function confirmDelete(form) {
            if (confirm("Are you sure you want to delete this vehicle?")) {
                return true;
            }
            return false;
        }
    </script>
</body>
</html>