html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    background-color: #f8f9fa;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

#registerSubmit,
#login-submit {
    background: linear-gradient(180deg, #FF6600 0%, #FF1500 100%) !important;
}

#registerSubmit:hover,
#login-submit:hover {
    background: linear-gradient(180deg, #FF1500 0%, #FF6600 100%) !important;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
